.DS_Store
Thumbs.db
db.json
*.log
node_modules/
public/
.deploy*/
_multiconfig.yml
source/_drafts/
source/_posts/**/*.jpg
source/_posts/**/*.jpeg
source/_posts/**/*.png
source/_posts/**/*.gif
source/_posts/**/*.bmp
source/_posts/**/*.svg
