body {
  font-family: var(--base-font-family);
  font-size: 1.2rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.markdown-body p strong {
  color: darkorange;
}

.markdown-body p em {
  color: hotpink;
}

.markdown-body h3 {
  color: darkcyan;
}

.markdown-body h4 {
  color: darkkhaki;
}

.markdown-body h5 {
  color: darkseagreen;
}

.markdown-body h6 {
	color: darkgoldenrod;
}
