.sidebar-left-container {
	background-color: var(--board-bg-color);
	padding: 10px;
	transform: translateX(-15px);
	border-radius: 0 15px 15px 0;
	width: calc(100% + 15px);
}

.sidebar-right-container {
	background-color: var(--board-bg-color);
	padding: 10px;
	border-radius: 15px 0 0 15px;
	width: calc(100% + 15px);
}
